
body {
  margin: 0;
  font-family: 'Arial', sans-serif; 
  background-color:  #f5f5f5; 
}

/* Navbar y Menú */
.navbar {
  color: white; 
  padding: 10px 20px; 
}

.navbar a {
  color: white; 
  text-decoration: none;
  margin: 0 15px; 
}

.navbar a:hover {
  text-decoration: underline;
}

/* Contenido principal */
main {
  padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar a {
    display: block;
    margin: 5px 0; 
  }
  
  .logo {
    height: 40px; 
  }
}
